
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@300;400;800&family=Pathway+Extreme:wght@200&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&family=Roboto&family=Roboto+Condensed:wght@300&family=Rubik&family=Ubuntu&display=swap');*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 16px;
    color: white;
    font-family: "Hanken Grotesk", sans-serif;
}
section{
    background-color: #ECF2F7;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.allcontent{
    background-color: #FFFFFF;
    height: 550px;
    width: 800px;
    border-radius: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.5);
    animation-name: move;
    position: relative;
    animation-timing-function: ease-out;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.result{
    background-color: #5534E2;
    width: 100%;
    height: 100%;
    border-radius: 50px;
}

.heading h1{
    font-size: 1.9rem;
    text-align: center;
    padding-top: 2rem;
}

.mark{
    font-size: 7rem;
    text-align: center;
    margin-top: 4rem;
    background-image: linear-gradient(90deg,#6F51FC,#3630EB);
    width: 50%;
    margin: 2rem auto auto ;
    border-radius: 100px;
    padding: 1rem 1.7rem;
    font-weight: 600;
}

.paragraph {
    text-align: center;
    margin-top: 4rem;
    font-size: 1.4rem;
  
}

.paragraph h1{
    margin-bottom: 1.2rem;
}

.paragraph>p{
    font-size: 1.2rem;
    width: 70%;
    margin: auto;
}
/* Right part */

.summary{

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 110px 80px 80px 80px 80px; 
}

.summary h1{

 padding-left: 2rem;
 padding-top: 2rem;
 font-size: 2.5rem;
}


.boxes{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    padding: 1rem 2rem ;
    border-radius: 15px;
    font-size: 1.3rem;
}

button{
    width: 80%;
    margin: auto;
    padding: 1rem 1rem;
    border-radius: 30px;
    border: none;
    background-color: hsl(224, 30%, 27%);
    color: white;
    font-size: 1.5rem;
    
}

button:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.reaction{
    display: flex;
    justify-content: space-between;
}

.memory{
    display: flex;
    justify-content: space-between;
}

.verbal{
    display: flex;
    justify-content: space-between;
}

.visual{
    display: flex;
    justify-content: space-between;
     
}
.boxes p{
text-align: center;
}
.boxes>p{
    flex-grow: 2;
    padding-right: 1.3rem;
}

 .reaction{
    background-color: #FFDDDD;
    color: #FF5757;
}

.memory{
    background-color: #FFEFD2;
    color: #FFB693;
}

.verbal{
    background-color: #CCF2E9;
    color: #00BD91;
}

.visual{
    background-color: #CFD3F6;
    color: #8549D4;
}
.sp{
    color: black;
    font-weight: 500;
}

/* Media queries */

@media (max-width:768px) {
    
    .allcontent{
        background-color: #FFFFFF;
        height: 600px;
        width: 700px;
        border-radius: 50px;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 1fr 1fr;
        box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.5);
        grid-column-gap:20rem ;
    }

    
.result{
    background-color: #5534E2;
    width: 100%;
    height: 130%;
    border-radius: 50px;
    padding: 0;
}

.summary{
    margin-top: 151px;
}

section{
    background-color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    
    
}


}

@keyframes move {
    0%{
        top: 0;

    }

   
    100%{
        top: 30px;
    }
}